<div id="career-pane" class="pane">
	<div class="pane-header">Career</div>
	<div class="pane-content">
		<div class="career-table">
			
			<table>
				<tr>
					<th class="avatar left-border"></th>
					<th class="name">Heroes</th>
					<th class="time">Time Played by Class</th>
					<th class="level">Level</th>
					<th class="elite">Elite Kills</th>
					<th class="dps">DPS</th>
					<th class="toughness">Toughness</th>
					<th class="healing right-border">Healing</th>
				</tr>
				<% for(var i=0; i<heroes.length; i++) { %>
				<tr>
					<td class="avatar"></td>
					<td class="name"><%= heroes[0].name %></td>
					<td class="time">
						<div class="time-percentage">35%</div>
						<div class="time-progress">
							<div class="filled"></div>
						</div>
					</td>
					<td class="level">
						<div class="time-percentage">51%</div>
						<div class="time-progress">
							<div class="filled"></div>
						</div>
					</td>
					<td class="elite">13,379</td>
					<td class="dps">1,062,934</td>
					<td class="toughness">30,231,791</td>
					<td class="healing">4582</td>
				</tr>
				<% } %>
			</table>
		
		</div> <!-- career-table -->
		
		
		<div class="career-stats">
			<div id="paragon-stats" class="section">
				<div class="section-title">Paragon Level</div>
				<div class="section-number">268</div>
			</div>
			<div class="section middle">
				<div class="section-title">Total Lifetime Kills</div>
				<div class="section-number">1,062,934</div>
			</div>
			<div class="section">
				<div class="section-title">Total Elite Kills</div>
				<div class="section-number">46,327</div>
			</div> <!-- section -->
		</div> <!-- career-stats -->
	</div> <!-- pane-content -->
</div> <!-- pane -->