<div id='page-title'><%= pageTitle %></div>
<div id='searchbar'></div>
<div id='greeting'>
    <span id='greeting-name'>
        Welcome, 
        <span class='battleTag'><%= battleTag %></span>.
    </span>
    <span id='remark'><%= remark %></span>
</div>