@import "lib/mixins.less";

/**
 * VARIABLES
 */
@themeColor: #c65618;
@borderColor: #f0f1f3;
@fontColor: #7c7f7c;
@fontSize: 15px;

/** RESET.CSS **/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/** FONTS **/
@font-face { 
    font-family: HelveticaNeue;
    src: url("assets/fonts/HelveticaNeue.ttf"); 
}
@font-face { 
    font-family: HelveticaNeueLt;
    src: url("assets/fonts/HelveticaNeueLTPro-Lt.otf"); 
}
@font-face { 
    font-family: HelveticaNeueUltLt;
    src: url("assets/fonts/HelveticaNeueLTPro-UltLt.otf"); 
}
@font-face { 
    font-family: HelveticaNeueBd;
    src: url("assets/fonts/HelveticaNeueLTPro-Bd_0.otf"); 
}
@font-face { 
    font-family: HelveticaNeueTh;
    src: url("assets/fonts/HelveticaNeueLTPro-Th.otf"); 
}
@font-face { 
    font-family: ProximaNovaLt;
    src: url("assets/fonts/ProximaNova-Light.otf"); 
}
@font-face { 
    font-family: ProximaNova;
    src: url("assets/fonts/ProximaNova-Regular.otf"); 
}
@font-face { 
    font-family: ProximaNovaBd;
    src: url("assets/fonts/ProximaNova-Semibold.otf"); 
}

/** LAYOUT **/
body, html {
    width: 100%;
    min-width: 1200px;
    background-color: #f7f8fa;
    font-size: @fontSize;
    font-family: HelveticaNeue, Helvetica, Arial;
    color: @fontColor;
}
/** PAGE LAYOUTS **/
.page-wrapper {
    width: 100%;
    background-color: #f7f8fa;
}
.page {
    padding: 82px 0px 0px 82px;
}
#splash-page { display: block; }
#player-page { display: none; }
#hero-page { display: none; }
#progression-page { display: none; }
#error-page { display: none; }
#page-mask {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url(assets/images/loader2.gif) no-repeat 50% 50% #15191f;
    opacity: 0.9;
    z-index: 1001;
}

/**
 * SECTION LAYOUTS
 */
.section {
    background-color: #fff;
    .border-radius(8px);
    margin: 16px;
}
.section > h1 {
    padding: 16px 12px;
    border-bottom: solid 1px @borderColor;
    color: @themeColor;
}
.section > .content {
    padding: 16px 12px;
}