<div id='hero-left'>


</div>

<div id='hero-right'>
    <div class='strip'></div>
    <div class='header'>
        <h1>Inna's Radiance</h1>
        <h2>Daibo</h2>
    </div>
    <div class='body'>
    </div>
</div>