<div id="toolbar">
	<div id="logo">
		<img src="images/logo.png">
	</div>
	<div class="toolbar-item selected">
		<img src="images/career.png">
	</div>
	<div class="toolbar-item">
		<img src="images/profile.png">
	</div>
	<div class="toolbar-item">
		<img src="images/stats.png">
	</div>
</div>