<div id='splash-image'>
    <h1>Welcome to D3<b>PX</b></h1>
    <p>
        To get started, search your <span>BattleTag</span>. 
    </p>
</div>
<div id='splash-details'>
    <div class='container'>
        <div class='splash-detail'>
            <img src='assets/images/icons/player_large.png' />
            <h1>Track Your Career</h1>
            <p>
                View individual heroes and their statistics. Compare overview
                statistics between heroes. Get an overview on your Diablo 3 experience.
            </p>
        </div>

        <div class='splash-detail'>
            <img src='assets/images/icons/hero_large.png' />
            <h1>Customize Your Gear</h1>
            <p>
                Play with the D3PX paper doll system. Get an insight to your
                gear and its perfection rating. Analyze your statistics through
                customizing gears and skills.
            </p>
        </div>

        <div class='splash-detail'>
            <img src='assets/images/icons/progression_large.png' />
            <h1>View Your Statistics</h1>
            <p>
                Track your progression on a weekly basis. Check your statistics and damage
                output in a timeline view.
            </p>
        </div>
    </div>
</div>