<div id="search-field">
	<img src="images/search.png">
	<input id="search-input" placeholder="e.g. Parallax#1234" type="text" name="battletag">
</div>
<div id="region-dropdown">
<div id="selected-region" class="region">US</div>
<div id="us-region" class="region">US</div>
<div id="KR-region" class="region">KR</div>
<div id="TW-region" class="region">TW</div>
<div id="EU-region" class="region">EU</div>
</div>
