#search-module {
  float: right;
  margin-top: 23px;
  margin-left: 10px;
  margin-right: 10px;
}
#search-module #search-field {
  width: 204px;
  height: 36px;
  background-color: #f7f9fa;
  border-radius: 36px;
  border: 1px solid #edeff0;
  float: left;
}
#search-module #region-dropdown {
  margin: 0px 10px;
  width: 83px;
  height: 36px;
  background-color: #c65618;
  border-radius: 36px;
  float: right;
}
#search-module img {
  margin: 10px;
}
#search-module input[type="text"] {
  background-color: transparent;
  border: none;
  width: 73%;
  height: 100%;
  margin-right: 10px;
  outline: none;
  font-family: 'Helvetica Neue', 'Arial';
  font-size: 16px;
  font-weight: 200;
  color: #727576;
  float: right;
}
