<div class='pane'>
<h1>Item Profile</h1>

<table>
    <% for (var prop in this) { %>
    <tr>
        <td>
            <b><%= prop %></b>
        </td>
        <td>
            <%= this[prop] %>
        </td>
    </tr>
    <% } %>
</table>

</div>