<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>D3 EJS</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>
	<body>
		<div id="toolbar">
			<div id="logo">
				<img src="res/logo.png">
			</div>
			<div class="toolbar-item selected">
				<img src="res/career.png">
			</div>
			<div class="toolbar-item">
				<img src="res/profile.png">
			</div>
			<div class="toolbar-item">
				<img src="res/stats.png">
			</div>
		</div>
		<div id="canvas">
			<div id="hero-pane" class="pane">
				<div class="pane-header">Heroes</div>
				<div class="pane-content">
					<div class="hero-card">
						<div class="hero-hardcore"></div>
						<div class="hero-level">70</div>
						<div class="hero-name">Juno</div>
						<div class="hero-class">Wizard</div>
					</div>	<!-- hero-card -->				
				</div> <!-- pane-content -->
			</div> <!-- pane -->
			
			<div id="career-pane" class="pane">
				<div class="pane-header">Career</div>
				<div class="pane-content">
					<div class="career-table">
						
						<table>
							<tr>
								<th class="avatar left-border"></th>
								<th class="name">Heroes</th>
								<th class="time">Time Played by Class</th>
								<th class="level">Level</th>
								<th class="elite">Elite Kills</th>
								<th class="dps">DPS</th>
								<th class="toughness">Toughness</th>
								<th class="healing right-border">Healing</th>
							</tr>
							<tr>
								<td class="avatar"></td>
								<td class="name">Icarus</td>
								<td class="time">
									<div class="time-percentage">35%</div>
									<div class="time-progress">
										<div class="filled"></div>
									</div>
								</td>
								<td class="level">
									<div class="time-percentage">51%</div>
									<div class="time-progress">
										<div class="filled"></div>
									</div>
								</td>
								<td class="elite">13,379</td>
								<td class="dps">1,062,934</td>
								<td class="toughness">30,231,791</td>
								<td class="healing">4582</td>
							</tr>
						</table>
					
					</div> <!-- career-table -->
					
					
					<div class="career-stats">
						<div id="paragon-stats" class="section">
							<div class="section-title">Paragon Level</div>
							<div class="section-number">268</div>
						</div>
						<div class="section middle">
							<div class="section-title">Total Lifetime Kills</div>
							<div class="section-number">1,062,934</div>
						</div>
						<div class="section">
							<div class="section-title">Total Elite Kills</div>
							<div class="section-number">46,327</div>
						</div> <!-- section -->
					</div> <!-- career-stats -->
				</div> <!-- pane-content -->
			</div> <!-- pane -->
		</div> <!-- canvas -->
		<div id="navbar">
			<div id="title">Hero Profile</div>
			<div id="search-module">
				<div id="search-field">
					<img src="res/search.png">
					<input type="text" name="battletag">
				</div>
				<div id="region-dropdown"></div>
			</div>
			<div id="tag">Welcome, Parallax #1878<span id="greeting">Stay a while and listen...</span></div>
		</div>
    </body>
</html>